:root{
    --green1:rgba(107,183,86,0.95);
    --green2: rgba(0,143,104,0.95);
    --green3:#013948;
    --green4:#011c23;
    --white:#ffffff;
    --black1:#000000;
    --black2:#333333;
    --black3:#666666;
    --black4:#232526;
    --black5:#414345;
    --yellow:#ffc600;
};


