.dark{
    --bg-1:var(--black4);
    --bg-2:var(--black5);
    --heading-color: var(--black5);
    --text-primary: var(--black3);
    --text-secondary: var(--white);
    --text-tertiary: var(--black2);
}
