.light{
    --bg-1:var(--green1);
    --bg-2:var(--green2);
    --heading-color: var(--green2);
    --text-primary: var(--black3);
    --text-secondary: var(--white);
    --text-tertiary: var(--black2);
}
