@import 'color';
@import 'light';
@import 'dark';
@import 'variable';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    transition:.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
    height: auto;
}

a{
    display: inline-block;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



/* Header Styles */

header{
    background: linear-gradient(to right , var(--bg-1) , var(--bg-2));
    padding-bottom: 50px;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    color: var(--text-secondary);
        .nav{
            padding: 10px 20px;
                .nav__items{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .nav__item{
                        h2{
                            font-size: clamp(1.5rem, 2.5vw, 1.7rem);
                        }
                        .checkbox{
                            display: none;
                        }
                        label{
                            background: var(--text-secondary);
                            display: flex;
                            justify-content: space-between;
                            height: 26px;
                            width: 50px;
                            align-items: center;
                            border-radius: 50px;
                            padding: 5px;
                            position: relative;
                            cursor: pointer;
                                .circle{
                                    position: absolute;
                                    height: 22px;
                                    width: 22px;
                                    background: linear-gradient(to top , var(--bg-1) , var(--bg-2));
                                    border-radius: 50%;
                                    top: 2px;
                                    left: 2px;
                                    transition: .2s;
                                }
                                i{
                                }
                                .fa-moon{
                                    color: var(--text-primary);
                                    
                                }
                                .fa-sun{
                                    color:var(--yellow)
                                }
                        }
                        .checkbox:checked + label .circle{
                            transform: translateX(24px);
                        }
                    }
                }

        }

    .hero__area{
        text-align: center;
        margin: 75px 0 80px;
            .hero__image{
                width: 120px;
                margin:0 auto;
                img{
                    &:hover{
                        animation:hue-rotate 1s;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                    }
                    @keyframes hue-rotate {
                        from{
                            filter: hue-rotate(0deg);
                        }
                        to{
                            filter: hue-rotate(360deg);
                        }
                    }
                }
            }
            .hero__text{
                h1{
                    font-size: clamp(25px, 2.7vw, 40px);
                }
                p{
                    font-size: clamp(15px, 2.5vw, 20px);
                }
            }
    }
}

/* Main Styles */

main{
    .blog__section{
        .blog__single{
            padding:0 20px;
            margin-top: 15px;
        }
        .blog__header{
            font-size: clamp(1.5rem, 2.5vw, 1.7rem);
            color: var(--heading-color);
            font-weight: 600;
            padding: 10px 0;
        }
        .blog__desc{
            font-size: clamp(17px, 1.2vw, 20px);
            line-height: 1.7;
            color: var(--text-primary);
        }
    }
}

/* Footer Styles */

footer{
    color: var(--text-tertiary);
    padding: 10px 0;
    text-align: center;
        .footer__desc{
            font-size: clamp(15px, 1.2vw, 18px);
                .footer__link{
                    color: var(--heading-color);
                    font-weight: 700;
                }
        }
}


.scroll__to__top{
    position: fixed;
    right: -50px;
    bottom: 30px;
    background:linear-gradient(to left,var(--bg-1),var(--bg-2));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    transition:.3s;
        i{
            color: var(--text-secondary);
            vertical-align: middle;
            padding: 10px 0;
            font-size: 25px;
        }
}

.scroll__to__top.active{
    right: 20px;
}

